^.devenv/*
metis/.devenv.flake.nix
metis/.devenv*
tourcom/.devenv*

metis/api-aerial/.git
metis/api-dashboard/.git
metis/api-reservation/.git  
metis/front-dashboard/.git

# pixi environments
.pixi/*
!.pixi/config.toml
